@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

/* Initial state: hidden */
.intro, .grid-layout, .about, .contact, .project, #passwordForm {
  opacity: 0;
  transform: translateY(8px); /* Optional: adds a slight upward motion */
  animation: fadeIn 0.3s ease-out forwards; /* Shared animation */
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px); /* Matches the initial state */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Moves back to its original position */
  }
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

::selection {
  background: #FFD465;
  color: #1b2024;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #1b2024;
	margin: 90px auto 40px auto;
	width: 1120px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px 40px 24px 40px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

header a.logo {
  font-family: 'Poppins', sans-serif;
	font-size: 32px;
	font-weight: 600;
  line-height: 1.3;
  color: #1b2024;
  text-decoration: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
	font-size: 26px;
	font-weight: 600;
  line-height: 1.3;
  color: #1b2024;
}

h2 {
  font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 600;
  line-height: 1.3;
  color: #1b2024;
  text-align: center;
}

h3 {
  font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 600;
  line-height: 1.3;
  color: #1b2024;
}

p.pull-quote {
  margin-left: 24px;
  margin-right: 24px;
}

nav {
  display: flex;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
  line-height: 1.3;
  color: #1b2024;
}

nav a {
  color: #8e969d;
  text-decoration: none;
  margin: 0 0 0 40px;
  transition: color 0.3s;
}

nav a:hover, a.active {
  color: #1b2024;
}

nav a.left {
  margin: 0;
}

section {
  margin: 60px 0 60px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px 40px;
  grid-auto-flow: dense;
}

section nav {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
}

section.jumplink {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

div.memoji-scale {
  transition: 0.3s;
}

div.memoji-scale:hover {
  scale: 103%;
}

img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

img#memoji {
  margin-top: 100px;
  transition: opacity 0.1s;
  cursor: url('images/figma-cursor.svg'), pointer;
}

button {
  cursor: pointer;
}

.fade-out {
  opacity: 0;
}

figure {
  margin: 0;
}

figcaption {
  font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #8e969d;
  text-align: center;
  margin-top: 8px;
}

form h1 {
  margin-bottom: 40px;
  text-align: center;
}

form p {
  margin-top: 40px;
  text-align: center;
}

#passwordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 192px;
  margin-bottom: 200px;
}

div.input-and-button {
  display: flex;
  gap: 10px;
}

#passwordInput {
  padding: 10px;
  border: 1px solid #8e969d;
  border-radius: 4px;
  width: 100%;
  max-width: 250px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

::placeholder {
  color: #8e969d;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #1b2024;
  color: white;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #313a49;
}

section#protectedContent {
  display: none;
}

div.left-column {
  grid-column: 2 / span 5;
}

div.right-column {
  grid-column: 7 / span 5;
}

div.middle-column {
  grid-column: 4 /span 6;
}

section.intro h1 {
  grid-column: 2 / span 10;
  text-align: center;
  margin: 160px 0 160px 0;
}

section.intro h1.home-intro {
  margin-top: 0;
}

section.intro h1.contact-title {
  margin-top: 120px;
  margin-bottom: 40px;
}

section.intro .gradient-1 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(90deg, #004C94 45%, #378bd4 90%);
}

section.grid-layout a.thumbnail {
  grid-column: span 6;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
}

section.grid-layout a.thumbnail:hover {
  scale: 102%;
}

section.grid-layout a.thumbnail div.snippet {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

section.grid-layout h2 {
  text-align: left;
  color: #1b2024;
  margin-top: 16px;
  margin-bottom: 12px;
}

section.grid-layout p {
  color: #1b2024;
  margin-top: 0;
  margin-bottom: 20px;
}

section.project h1 {
  text-align: left;
}

section.project div.artwork, section.project div.divider-title, section.project div.video {
  grid-column: span 12;
}

section.project div.divider-line {
  grid-column: 1 / span 12;
  border: 1px solid #e4e7eb;
  margin-top: 20px;
  margin-bottom: 20px;
}

section.project div.title {
  grid-column: 2 / span 5;
}

section.project div.description {
  grid-column: 7 / span 5;
}

section.project p {
  margin-bottom: 0;
}

section.project ul {
  margin-top: 0;
  padding-left: 24px;
}

section.project div.description a {
  color: #1b2024;
}

section.project p.large-text {
  font-size: 20px;
}

section.project p.large-text.no-margin-top {
  margin-top: 12px;
}

section.project h2.number {
  color: #1b2024;
  border: 1px solid #1b2024;
  /* background-color: #e4e7eb; */
  border-radius: 80px;
  width: 32px;
  height: 32px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.project a, section.contact a, section.about a, form a {
  font-weight: 400;
  color: #1b2024;
}

section.about h1 {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

section.contact {
  grid-column: span 12;
  display: flex;
  justify-content: center;
  gap: 80px;
}

section.contact p {
  font-weight: 700;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
}

footer.footer-about {
  margin-top: 160px;
}

footer.footer-contact {
  margin-top: 236px;
}

@media (max-width: 1200px) {
  body {
    width: auto;
    margin: 90px 40px 40px 40px;
  }
}

@media (max-width: 900px) and (min-width: 700px) {
  section.grid-layout h2 {
    font-size: 20px;
  }
  section.grid-layout p {
    font-size: 14px;
    margin: 0;
  }
  iframe {
    height: 620px;
  }
}

@media (max-width: 800px) {
  body {
    margin: 160px 40px 40px 40px;
  }
  header {
  	flex-direction: column;
    position: absolute;
	}
  header nav a {
    margin: 0 20px 0 20px;
    font-size: 18px;
  }
  a.logo {
    margin: 0 0 40px 0;
  }
  section.jumplink {
    top: -40px;
  }
  form h1 {
    margin-top: 88px;
  }
}

@media (max-width: 700px) {
  h2 {
    text-align: left;
  }
  section {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 24px;
  }
  div.left-column, div.right-column, div.middle-column, section.intro h1, section.project div.artwork, section.project div.title, section.project div.description, section.project div.divider-title, section.project div.divider-line, section.project div.video, section nav, section.contact {
    grid-column: 1 / span 4;
    gap: 0;
  }
  div.right-column .no-margin-top {
    margin-top: 0;
  }
  section.grid-layout a {
    margin-bottom: 8px;
  }
  section.project div.alignment {
    align-items: flex-start;
  }
  section.contact {
    flex-direction: column;
  }
  footer.footer-about {
    margin-top: 0;
  }
  footer.footer-contact {
    margin-top: 0;
  }
  iframe {
    height: 560px;
  }
}

@media (max-width: 530px) {
  body {
    margin: 200px 24px 24px 24px;
  }
  section.jumplink {
    top: -24px;
  }
  h1.page-title {
    margin-top: 40px;
  }
  iframe {
    height: 480px;
  }
  div.optional {
    display: none;
  }
  form h1 {
    margin-top: 120px;
  }
  img#memoji {
    margin-top: 40px;
  }
}

@media (max-width: 424px) {
  header {
    padding: 24px;
  }
  header nav a {
    font-size: 16px;
    margin: 0 10px 0 10px;
  }
  section.intro h1 {
    margin: 100px 0 100px 0;
  }
  section.intro h1.contact-title {
    margin-top: 80px;
    margin-bottom: 20px;
  }
  section.about h1 {
    margin-top: 80px; 
  }
  section.grid-layout a {
    margin: 0;
  }
  section.grid-layout h2 {
    margin-top: 12px;
    margin-bottom: 8px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  iframe {
    height: 400px;
  }
  div.input-and-button {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 300px) {
  body {
    margin: 180px 20px 20px 20px;
    font-size: 14px;
  }
  header a.logo {
    font-size: 28px;
    margin: 0 0 28px 0;
  }
  header nav {
    gap: 8px;
  }
  header nav a {
    font-size: 14px;
  }
  section {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 20px;
  }
  section.intro {
    margin: 32px 0 32px 0;
  }
  section.intro h1.contact-title {
    margin-top: 40px;
    margin-bottom: 0;
  }
  section.about h1 {
    margin-top: 40px; 
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  iframe {
    height: 320px;
  }
}