@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #18191C;
	margin: 90px auto 40px auto;
	width: 1120px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px 40px 24px 40px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

header a.logo {
  font-family: 'Poppins', sans-serif;
	font-size: 32px;
	font-weight: 600;
  line-height: 1.3;
  color: #18191C;
  text-decoration: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
	font-size: 26px;
	font-weight: 600;
  line-height: 1.3;
  color: #18191C;
}

h2 {
  font-family: 'Poppins', sans-serif;
	font-size: 22px;
	font-weight: 600;
  line-height: 1.3;
  color: #18191C;
  text-align: center;
}

h3 {
  font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
  line-height: 1.3;
  /* letter-spacing: 1px; */
  color: #18191C;
}

nav {
  display: flex;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
  line-height: 1.3;
  color: #18191C;
}

nav a {
  color: #A1A6AC;
  text-decoration: none;
  margin: 0 0 0 40px;
  transition: color 0.3s;
}

nav a:hover, a.active {
  color: #18191C;
}

div.divider-home {
  margin-top: 160px;
  text-align: center;
}

section {
  margin: 60px 0 60px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px 32px;
  grid-auto-flow: dense;
}

section nav {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
}

section nav a.left {
  margin: 0 40px 0 0;
}

section nav a.right {
  text-align: right;
}

section img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

section.intro h1 {
  grid-column: 2 / span 10;
  text-align: center;
  margin: 160px 0 160px 0;
}

section.intro .gradient-1 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(90deg, #702bfc, #ff2ab8);
}

section.intro .gradient-2 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(90deg, #0059e8, #00a957);
}

/* section.intro .gradient-3 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(90deg, #ed186a, #ff951c);
} */

section.grid-layout a.thumbnail {
  position: relative;
  grid-column: span 6;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

section.grid-layout a.thumbnail div.overlay-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
  border-radius: 4px;
}

section.grid-layout a.thumbnail:hover div.overlay-block {
  opacity: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: 0.3s;
  border-radius: 4px;
}

section.grid-layout h1 {
  color: #ffffff;
  margin: 20px;
}

section.grid-layout h3 {
  color: #ffffff;
}

section.project h1 {
  text-align: left;
}

section.project div.artwork, section.project div.divider-title, section.project div.video {
  grid-column: span 12;
}

section.project div.title {
  grid-column: 2 / span 5;
}

section.project div.description {
  grid-column: 7 / span 5;
}

section.project div.description a {
  color: #18191C;
}

section.about div.photo {
  grid-column: 3 / span 8;
}

section.about div.info {
  grid-column: 3 / span 8;
}

section.contact {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
}

section.contact p {
  font-weight: 700;
}

section.contact a, section.about a {
  font-weight: 400;
  color: #18191C;
  /* text-decoration: none; */
}

section.contact div.middle {
  margin: 0 40px 0 40px;
}

/* video {
  width: 100%;
} */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 1200px) {
  body {
    width: auto;
    margin: 90px 40px 40px 40px;
  }
}

@media (max-width: 800px) {
  body {
    margin: 160px 40px 40px 40px;
  }
  header {
  	flex-direction: column;
    position: absolute;
	}
  header nav a {
    margin: 0 20px 0 20px;
    font-size: 18px;
  }
  a.logo {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 700px) {
  h2 {
    text-align: left;
  }
  div.divider-home {
    text-align: left;
  }
  section {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 24px;
  }
  section.intro h1, section.project div.artwork, section.project div.title, section.project div.description, section.project div.divider-title, section.project div.video, section nav, section.about div.photo, section.about div.info, section.contact {
    grid-column: 1 / span 4;
  }
  section.grid-layout a {
    margin: 0 0 20px 0;
  }
  section.contact {
    flex-direction: column;
  }
  section.contact div.middle {
    margin: 0;
  }
}

@media (max-width: 530px) {
  body {
    margin: 200px 24px 24px 24px;
  }
  header nav {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

@media (max-width: 424px) {
  header nav a {
    font-size: 16px;
  }
  section nav a.left {
    margin: 0 24px 0 0;
  }
  section.intro h1 {
    margin: 100px 0 100px 0;
  }
  section.grid-layout a {
    margin: 0;
  }
  h1 {
    font-size: 22px;
  }
}

@media (max-width: 300px) {
  body {
    margin: 180px 20px 20px 20px;
    font-size: 14px;
  }
  header a.logo {
    font-size: 28px;
    margin: 0 0 28px 0;
  }
  header nav {
    gap: 8px;
  }
  header nav a {
    font-size: 14px;
  }
  section {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 20px;
  }
  section.intro {
    margin: 32px 0 32px 0;
  }
}